/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";
 $main_color: #eee;
body{
  background: $main_color;
  min-width: 100vh;
}

.pet_show{
  height: 100px;
  .column{
    figure{
      height: 100px !important;
    }
  }
}

.buttons.btn{
  justify-content: center;
}

.card.shelter{
  margin: 1.2rem;
}

footer.footer{
  background: $main_color;
}

#shel_create{
  background: blue !important;
  display: flex;
  margin: 1rem;
}

.form_container{
  width: 50vw;
  margin: auto;
}
